.repeatBtn {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    cursor: pointer;
}
.loopBtn {
    span {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        user-select: none;
        pointer-events: none;

        font-size: 24px;
    }
}
