.volumeBtn {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;

    cursor: pointer;
    & span {
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }

    .wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 150px;
        height: 50px;

        position: absolute;
        top: 0px;
        left: -45px;

        transform: rotate(270deg) translateX(50px);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 4px;

        transition: 0.2s ease-in;
        opacity: 0;
        .volume {
            position: relative;
            z-index: 1;
            .progress {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;

                height: 15px;
                border-radius: 4px;
                background-color: rgb(0, 255, 255);
                pointer-events: none;
            }
        }
        &::after {
            position: absolute;
            top: 40%;
            left: -14px;

            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid rgba(255, 255, 255, 1);
            transform: rotate(-90deg);
        }
    }
    &:hover {
        .wrap {
            transform: rotate(270deg) translateX(100px);
            transition: 0.2s ease-in;
            opacity: 1;
        }
    }
}

.volumeBar[type='range'] {
    height: 15px;
    background-color: rgba(243, 242, 242, 1);
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    width: 100%;
    &:focus {
        bottom: none;
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    &::-moz-range-track {
        height: 10px;
        -moz-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }

    &::-webkit-slider-thumb {
        position: relative;
        z-index: 3;
        width: 20px;
        height: 20px;

        margin-top: -5px;

        background-color: #5bffe9;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        -webkit-appearance: none;
    }
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;

        margin-top: -5px;

        background-color: #5bffe9;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        -moz-appearance: none;
        cursor: pointer;
    }
}
